*, *::after, *::before {
    box-sizing: border-box;
}

/* Custom font from: https://www.dafont.com/louis-george-caf.font */
@font-face {
    font-family: Louis;
    src: url(LouisGeorgeCafe.ttf);
}

html {
    font-family: Louis;
}

/* Main navigation bar and nav links styling */
nav.demo {
    position: relative;
    margin: 0;
    display: block;
    background-color: rgb(255, 255, 255, 0.7);
}

nav.demo a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    transition: color 0.25s;
    -webkit-transition: background-color 0.25s; /* Safari */
    transition: background-color 0.25s;
}

nav.demo a:hover, nav.demo a:focus {
    background-color: rgb(246, 247, 235);
    color: rgb(57, 62, 65);
    border: dotted;
    padding: 0.8rem;
}

nav.main {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    margin: 0;
    background-color: rgb(255, 255, 255, 0.7);
    border-bottom: solid rgba(0, 0, 0, 0.8) 0.1rem;
}

nav.main a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    transition: color 0.25s;
    -webkit-transition: background-color 0.25s; /* Safari */
    transition: background-color 0.25s;
}

nav.main a:hover, nav.main a:focus {
    background-color: rgb(246, 247, 235);
    color: rgb(57, 62, 65);
    border: dotted;
    padding: 0.8rem;
}

nav.main a.external {
    color: black;
}

nav.main a.external:hover, nav.main a.external:focus {
    background-color: rgb(255, 224, 139);
}

nav.main a.external:hover, nav.main a.external:focus {
    color: rgb(57, 62, 65);
}

div.navRight {
    float: right;
}

/* Content container style */
main {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 40em) {
    main {
        width: 93%;
    }
}

/* Headings */
h1 {
    margin: 3em 0 0.57em 0;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    color: rgb(57, 62, 65);
}

h2.splash {
    text-align: center;
}

h3 {
    margin-bottom: 1.5rem;
}

/* Section styling */
section.content {
    margin-bottom: 2.5rem;
    padding: 1rem;
    background-color: rgb(243, 243, 243);
}

/* In text links */
a.inText, a.inText:visited {
    color: rgb(89, 60, 143);
    transition: color 0.25s;
}

a.inText:hover, a.inText:focus {
    color: rgb(0, 196, 186);
}

/* Styling of images */
img {
    width: 100%;
}

@media (min-width: 100em) {
    img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

a.imageLink {
    transition: opacity 0.25s;
}

a.imageLink:hover, a.imageLink:focus {
    opacity: 0.5;
}

img.imageLink {
    border: solid rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    vertical-align: top;
}

div.gridImage1of3 {
    display: inline-block;
    width: 33%;
}

div.gridImage3of3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

@media (max-width: 70em) {
    div.gridImage1of3 {
        width: 100%;
        margin: 0.5rem 0;
    }
}

/* Styling for paragraphs */
p.bodyText {
    line-height: 150%;
}

/* Figure styling */
figure {
    margin: 3rem 0; 
}

figcaption {
    margin-top: 1rem;
    text-align: center;
    font-style: italic; 
}

/* Footer style */
footer {
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}

footer p.contact {
    font-size: 0.8rem;
}
