/* Custom font from: https://www.dafont.com/louis-george-caf.font */
@font-face {
    font-family: Louis;
    src: url(LouisGeorgeCafe.ttf);
}

html {
    font-family: Louis;
}

/* Main navigation bar and nav links styling */
nav.main {
    display: block;
    margin: 0;
    background-color: rgb(255, 89, 94);
}

nav.main a {
    display: inline-block;
    height: 2.4rem;
    padding: 1rem;
    text-decoration: none;
    color: rgb(246, 247, 235);
    -webkit-transition: background-color 0.3s; /* Safari */
    transition: background-color 0.3s;
}

nav.main a:hover, nav.main a:focus {
    background-color: rgb(246, 247, 235);
    color: rgb(57, 62, 65);
    text-decoration: none;
}

div.navRight {
    float: right;
}

/* Content container style */
main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* Headings */
h1 {
    display: inline-block;
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin-bottom: 2.5rem;
}

/* Section styling */
section.content {
    margin-bottom: 2rem;
}

/* In text links */
a.inText, a.inText:visited {
    color: rgb(89, 60, 143);
    transition: color 0.3s;
}

a.inText:hover, a.inText:focus {
    color: rgb(0, 196, 186);
}